<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geocompass.mqtt" >
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
<application android:allowBackup="true">
    <service android:name="org.eclipse.paho.android.service.MqttService" />
    <!-- 这个service是自己写的 -->
    <service android:name=".QatjaService" />
    <service android:name=".MQTTService" />
</application>
</manifest>
